body {
  background-image: url("/css/img/canvas.png");
  background-size: 110%;
  --nav-width: 200px;
  --chat-width: 200px;
  margin: 0 0 0 var(--nav-width);
  margin: 0 0 0 var(--chat-width);
  font-family: cursive;
  font-size: 18px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-image: url("/css/img/side.jpg");
  background-position: center;
  color: #eeeeee;
  font-family: cursive;
  font-size: 2rem;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background-color: rgb(9, 162, 209);
  color: black;
}

a {
  color: white;
}

#Header {
  margin-left: 6.7cm;
  color: whitesmoke;
  font-size: 3rem;
  font-family: cursive;
  margin-bottom: 0.01cm;
}

.modal {
  display: none;
  margin-left: 1.5cm;
  position: flex;
  z-index: 1;
  overflow: none;
  padding-top: 10px;
}

.modal-content {
  margin-top: 0.25cm;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px white;
  margin-left: 1.5cm;
  margin-right: 10cm;
  background-image: url("/css/img/canvas.png");
  background-size: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 0.25cm;
}

.animate {
  -webkit-animation: animate 1s;
  animation: animatezoom 1s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

h1 {
  margin-top: 0cm;
  margin-bottom: 0cm;
  padding-right: 7cm;
  font-size: 3rem;
  color: white;
  font-family: cursive;
}

h2 {
  margin-top: 0cm;
  margin-bottom: 0cm;
  padding-right: 10cm;
  font-size: 1.25em;
  color: white;
  font-family: cursive;
}

.posts {
  border-radius: 25px;
  background-image: url("/css/img/canvas.png");
  background-size: 100%;
  padding-top: 0.75cm;
  padding-left: 1cm;
  padding-right: 1cm;
  margin-left: 5cm;
  margin-right: 5cm;
  margin-bottom: 2cm;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: cursive;
  height: 30vh;
  width: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px white;
}

.container {
  margin-right: 7cm;
  padding-left: 320px;
  padding-right: 2cm;
  padding-bottom: 0.01cm;
  display: flex;
  flex-direction: column;
}

.imgcontainer {
  margin-top: 0cm;
  margin-bottom: 0cm;
  padding-left: 7.8cm;
}

#loginModal {
  height: 100%;
  width: 100%;
}

#regModal {
  height: 100%;
  width: 100%;
}

.button {
  background-image: url("/css/img/canvas.png");
  background-size: 105%;
  background-repeat: no-repeat;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px white;
  border-color: white;
  color: whitesmoke;
  font-size: 1rem;
  font-family: cursive;
  font-weight: bolder;
}

.button:hover {
  background-image: none;
  background-color: rgb(136, 200, 176);
  color: rgb(15, 15, 120);
  font-weight: bolder;
}

.button1 {
  display: inline-block;
  background-image: url("/css/img/canvas.png");
  background-size: 105%;
  background-repeat: no-repeat;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  margin-left: 0.1cm;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px white;
  border-color: white;
  color: whitesmoke;
  font-size: 1rem;
  font-family: cursive;
  font-weight: bolder;
  width: 45%;
}

.button1:hover {
  background-image: none;
  background-color: rgb(136, 200, 176);
  color: rgb(15, 15, 120);
  font-weight: bolder;
}

#regConfirmed {
  padding-left: 1.5cm;
  align-items: center;
  margin-top: 0.25cm;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px white;
  margin-left: 10cm;
  margin-right: 10cm;
  background-color: rgb(0, 143, 0);
  background-size: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 0.25cm;
  height: 100%;
  width: 25%;
}

#regRejected {
  padding-left: 1.5cm;
  align-items: center;
  margin-top: 0.25cm;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px white;
  margin-left: 10cm;
  margin-right: 10cm;
  background-color: rgb(191, 23, 8);
  background-size: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 0.25cm;
  height: 100%;
  width: 25%;
}

#LoggedOn {
  padding-left: 1.5cm;
  align-items: center;
  margin-top: 0.25cm;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px white;
  margin-left: 10cm;
  margin-right: 10cm;
  background-color: rgb(0, 143, 0);
  background-size: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 0.25cm;
  height: 100%;
  width: 25%;
}

.form {
  padding: 30px 40px;
}

/*==========================
 regform control validation 
 ===========================*/

.reg-form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.reg-form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.reg-form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.reg-form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.reg-form-control.success i.fa-circle-check {
  visibility: visible;
  color: #2ecc71;
}

.reg-form-control.error i.fa-exclamation {
  visibility: visible;
  color: #e74c3c;
}

.reg-form-control.pwshow i.fa-eye-slash {
  visibility: visible;
  color: #3936eb;
}

.reg-form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e74c3c;
}

.reg-form-control.success input {
  border-color: #2ecc71;
}

.reg-form-control.error input {
  border-color: #e74c3c;
}

.reg-form-control.error small {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e74c3c;
}

.login-form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.login-form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.login-form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.login-form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.login-form-control.success i.fa-circle-check {
  visibility: visible;
  color: #2ecc71;
}

.login-form-control.error i.fa-exclamation {
  visibility: visible;
  color: #e74c3c;
}

.login-form-control.pwshow i.fa-eye-slash {
  visibility: visible;
  color: #3936eb;
}

.login-form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e74c3c;
}

.login-form-control.success input {
  border-color: #2ecc71;
}

.login-form-control.error input {
  border-color: #e74c3c;
}

.login-form-control.error small {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #e74c3c;
}
#current-user {
  text-transform: uppercase;
}

/*~~~~~~~~~~~~~~~Start of Logged-in Users Log~~~~~~~~~~*/
.loggedInUsers {
  position: fixed;
  top: 0;
  right: 0cm;
  width: var(--loggedInUsers-width);
  height: 100vh;
  background-image: url("/css/img/side.jpg");
  background-position: center;
  font-family: cursive;
  font-size: 2rem;
}

.loggedInUsers__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.loggedInUsers__link:hover {
  background-color: rgb(9, 162, 209);
  color: black;
}

/*~~~~~~~~~~~~~~~End of Logged-in Users Log~~~~~~~~~~~~*/

/*
    =================================================
                CHAT CSS
    =================================================
  */

/*--------------------
Chat
--------------------*/

.chat-private {
  position: absolute;
  top: 50%;
  left: 90%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 95vh;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
}

/*--------------------
  Chat Title
  --------------------*/
.chat-title-box {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px 10px 50px;
}

.message-close {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 0px;
  color: #fff;
  border: none;
  background: #248a52;
  background-image: url(/css/img/icons8-back-arrow-48.png);
  background-size: 100%;
  line-height: 1;
  padding: 20px 20px;
  margin-left: 2px;
  border-radius: 10px;
}

.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: rgb(77, 209, 221);
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
  margin: 0;
  padding: 0;
}

/*--------------------
  Messages
  --------------------*/
.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  position: relative;
}
.messages-content {
  display: flex;
  flex-direction: column;
  height: 930px;
  overflow-y: auto;
  clear: both;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages-content .sender {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
  float: right;
  color: #fff;
  text-align: left;
  background: linear-gradient(120deg, #248a52, #257287);
  border-radius: 10px 10px 0 10px;
  width: max-content;
  padding: 7px;
  height: 20px;
  margin-bottom: 5px;
}

.messages-content .recipient {
  /* float: left; */
  width: max-content;
  color: #fff;
  text-align: left;
  background: linear-gradient(120deg, #248a52, #257287);
  border-radius: 10px 10px 10px 0;
  margin-bottom: 5px;
  padding: 5px;
}

.dateDiv {
  font-size: x-small;
  color: greenyellow;
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px;
  padding: 7px;
  padding-bottom: 5px;
  height: 20px;
}

/*--------------------
  Message Box
  --------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: absolute;
  bottom: 10px;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  height: 30px;
  margin: 0;
  padding-right: 20px;
  width: 265px;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}

.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 48px;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
}
.message-box .message-submit:hover {
  background: #1d7745;
}

/*--------------------
  Bounce
  --------------------*/
@-webkit-keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@-webkit-keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
