body {
    background-image: url("/css/img/canvas.png");
    background-size: 110%;
    --nav-width: 200px;
    --chat-width:200px;
    margin: 0 0 0 var(--nav-width);
    margin: 0 0 0 var(--chat-width);
    font-family: cursive;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-image: url("/css/img/side.jpg");
    background-position: center;
    font-family: cursive;
    font-size: 2rem;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background-color: rgb(9, 162, 209);
    color: black;
}



a {
    color:white;
}

.chat {
    position: fixed;
    top: 0;
    right:0cm;
    width: var(--chat-width);
    height: 100vh;
    background-image: url("/css/img/side.jpg");
    background-position: center;
    font-family: cursive;
    font-size: 2rem;
}

.chat__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.chat__link:hover {
    background-color: rgb(9, 162, 209);
    color: black;
}

#Header {
    margin-left: 6.7cm;
    color: whitesmoke;
    font-size: 3rem;
    font-family:cursive;
    margin-bottom: 0.01cm;
}

.modal {
    display: none;
    margin-left: 1.5cm;
    position: flex;
    z-index: 1;
    overflow: none;
    padding-top: 10px;

}

.modal-content {
    margin-top: .25cm;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px white;
    margin-left: 1.5cm;
    margin-right: 10cm;
   background-image:url("/css/img/canvas.png");
   background-size: 100%;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: cursive;
   margin-bottom: .25cm;
}


.animate {
    -webkit-animation: animate 1s;
    animation: animatezoom 1s;
}

@-webkit-keyframes animatezoom{
    from{-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1);}
}

@keyframes animatezoom{
    from{-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1);}
}

h1 {
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-right: 7cm;
    font-size: 3rem;
    color: white;
    font-family: cursive;
}

h2 {
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-right: 10cm;
    font-size: 1.25em;
    color: white;
    font-family: cursive;
}

.posts{
    border-radius: 25px;
    background-image: url('/css/img/canvas.png');
    background-size: 100%;
    padding-top: .75cm;
    padding-left: 1cm;
    padding-right: 1cm;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-bottom: 2cm;
    color:whitesmoke;
    font-size: 1.5rem;
    font-family:cursive;
    height: 30vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px white;
}

.container {
    margin-right: 7cm;
    padding-left: 320px;
    padding-right: 2cm;
    padding-bottom: .01cm;
    display: flex;
    flex-direction: column;
}

.imgcontainer {
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: 7.8cm;
}

#loginModal{
    height: 100%;
    width: 100%;
}

#regModal {
    height: 100%;
    width: 100%;
}

.button{
    background-image: url('/css/img/canvas.png');
    background-size: 105%;
    background-repeat: no-repeat;
    margin-top: .20cm;
    margin-bottom: .20cm;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px white;
    border-color: white;
    color: whitesmoke;
    font-size: 1rem;
    font-family:cursive;
    font-weight: bolder;

}
/*Guests can not see the 'submit post' button*/
.postBtn{
    visibility: hidden;
}


.button:hover{
  background-image: none;
  background-color: rgb(136, 200, 176);
  color: rgb(15, 15, 120);
  font-weight: bolder;
}


.button1{
    display: inline-block;
    background-image: url('/css/img/canvas.png');
    background-size: 105%;
    background-repeat: no-repeat;
    margin-top: .20cm;
    margin-bottom: .20cm;
    margin-left: .1cm;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px white;
    border-color: white;
    color: whitesmoke;
    font-size: 1rem;
    font-family:cursive;
    font-weight: bolder;
    width: 45%;

}


.button1:hover{
  background-image: none;
  background-color: rgb(136, 200, 176);
  color: rgb(15, 15, 120);
  font-weight: bolder;
}


#regConfirmed {
    padding-left: 1.5cm;
    align-items: center;
    margin-top: .25cm;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px white;
    margin-left: 10cm;
    margin-right: 10cm;
   background-color: rgb(0, 143, 0);
   background-size: 100%;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: cursive;
   margin-bottom: .25cm;
    height: 100%;
    width: 25%;
}

#regRejected {
    padding-left: 1.5cm;
    align-items: center;
    margin-top: .25cm;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px white;
    margin-left: 10cm;
    margin-right: 10cm;
   background-color: rgb(191, 23, 8);
   background-size: 100%;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: cursive;
   margin-bottom: .25cm;
    height: 100%;
    width: 25%;
}

#LoggedOn {
    padding-left: 1.5cm;
    align-items: center;
    margin-top: .25cm;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px white;
    margin-left: 10cm;
    margin-right: 10cm;
   background-color: rgb(0, 143, 0);
   background-size: 100%;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: cursive;
   margin-bottom: .25cm;
    height: 100%;
    width: 25%;
}

/*~~~~~~~~~~~~~~~~Start of 'chat' css ~~~~~~~~~~~~~~~*/

#log {
    /*background: #BCEAD5;*/
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 2em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
}

#formChat {
    padding: 0 0.5em 0 0.5em;
    /*color: #9ED5C5;*/
    color: #F9C5D5;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

#msg{
    color: blue;
    background-color: #8EC3B0;
    border-color: #8EC3B0;
}

#msg:focus{
    background-color: #FEE3EC;
    border-color: #CDF0EA;
    border-color: #F999B7;
}

#btn{
    background-color: green;
  color: white;
  font-weight: 600;
  border: 3px solid green;
  border-radius: 15px;
}

#btn:hover{
    background-color: white; /* Green */
    border: 3px solid #2192FF;
  color: #2192FF;
}

/*~~~~~~~~~~~~~~~~End of 'chat' css ~~~~~~~~~~~~~~~*/