<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RT-Forum </title>
    <link rel="shortcut icon" href="/css/img/chat.png">
    <link rel ="stylesheet" href="/css/home.css">
</head>

<body>

    <div id="Header">🅡🅔🅐🅛-🅣🅘🅜🅔-🅕🅞🅡🅤🅜</div>

    <nav class="nav">
        <a id ="homePage" href = "/" class="nav__link">HomePage</a>
        <a id ="register" onclick="openReg() ;"class="nav__link">Register</a>
        <a id ="login" onclick="openLogin() ;"class="nav__link">Login</a>
        <a id ="post" onclick="openPosts()" class="nav__link">Posts</a>
        <a id="profile" class="nav__link" style="display:none">Profile</a>    
        <a id="logout" class="nav__link" style="display:none">LogOut</a>    

    </nav>

    <nav class="chat">
        <a id ="Chat Here" href = "/chat" class="chat__link" data-link>Messsenger</a>
    </nav>

    <div id="postBlock" class="posts" >
        <label for="PostTitle">Post Title:</label>
        <textarea name="postTitle" type="text" rows="1" cols="60" id="PostTitle" name="Title" placeholder="Enter Title..."></textarea>
        <label for="Post Content"> Content:  </label>
        <textarea name="postinput" type="text" rows="4" cols="60" id="PostContent" name="Content" placeholder="Description..."></textarea>
        <label for="Post Cat">Catergory:</label>
        <input type="dropdown" id="PostCat" name="Category" placeholder="Choose Categories..">
        <button class="button" id="addPost" type="submit">Create Post</button>
    
    </div>

    <div id="postedArticles" class="posts" >
        <label for="TitleCreated">Post Title:</label>
        <textarea name="postTitle" type="text" rows="1" cols="60" id="PostTitle" name="Title" placeholder="Enter Title..."></textarea>
        <label for="ContCreated"> Content:  </label>
        <textarea name="postinput" type="text" rows="4" cols="60" id="PostContent" name="Content" placeholder="Description..."></textarea>
        <label for="ChosenCat">Catergory:</label>
        <input type="dropdown" id="PostCat" name="Category" placeholder="Choose Categories..">
        <button class="button" id="addPost" type="submit">See Comments Here</button>
    
    </div>


    <div id="loginModal" class="modal"> 
       
       <form class="modal-content animate" action="/login">
       <div class="imgcontainer">
        <img src="/css/img/user-group-man-woman.png" height="250px" width="300px" alt="Avatar" class="avatar">
       </div> 
      

       <div class="container" >
        <h1>🅛🅞🅖🅘🅝</h1>

        <label for="userName"><b>UserName</b></label>
        <input type="text" id="LUserName" placeholder="Enter Username" name="UserName" required>
        
        <label for="psw"><b>Password</b></label>
        <input type="password" id="LPassW" placeholder="Enter Password" name="psw" required>

        <button class="button" id="loginBtn" type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember Me
        </label>

        <button id="cancelbtn" type="button" onclick="document.getElementById('loginModal').style.display='none'; closeBtn()" class="button">Cancel</button>
        <span class="psw">New User Please👇 </span>

        <button type="button" onclick="openReg(); " class="button" href="/registration">Register</button>

       </div>
       </form>

    </div>

    <div id="regModal" class="modal">     
       
       <form class="modal-content animate" action="/register">
       <div class="imgcontainer">
        <img src="/css/img/user-group-man-woman.png" height="230px" width="290px" alt="Avatar" class="avatar">
       </div> 
       

       <div class="container" id="form"> 
        <h2>🅡🅔🅖🅘🅢🅣🅔🅡</h2>
        <label for="FirstName"><b>First Name</b></label>
        <input id="FirstName" type="text" placeholder="Enter First Name" name="FirstName" required>

        <label for="LastName"><b>Last Name</b></label>
        <input id="LastName" type="text" placeholder="Enter Last Name" name="Last Name" required>

        <label for="NickName"><b>NickName</b></label>
        <input id="NickName" type="text" placeholder="This will be your userName" name="Nick Name" required  minlength="4" maxlength="10">

        <label for="Age"><b>Age</b></label>
        <input id="Age" type="number" placeholder="Enter Age" name="Age" required>

        <label  for="Gender"><b>Gender</b></label>
        <input id="Gender" type="text" placeholder="Enter Gender" name="Gender" required>
    
        <label for="Email"><b>Email</b></label>
        <input id="Email" type="email" onkeydown="validation()" size="30" placeholder="Enter Email Address" name="Email" required>
        <span id="text"></span>
        <!-- <label for="userName"><b>UserName</b></label>
        <input type="text" placeholder="Enter Username" name="UserName" required> -->

        <label for="psw"><b>Password</b></label>
        <input id="PassWord" type="password" placeholder="Enter Password" name="psw" required>

        
      <span>
        <button class="button1" id="registerBtn" type="submit">Register</button>
        
        <button id="cancelbtn" type="button" onclick="document.getElementById('regModal').style.display='none'; closeBtn()" class="button1">Cancel</button>
       
      </span>
       
       </div>
    </form>
    </div>


    <!-- happy face emoji's -->
    <div id="happyFace" style="display:none">
        <img id="happyFace" src="/css/img/thumbsup.gif" height="15%" width="15%">
    </div>

    <div id="byeFace" style="display:none">
        <img id="byeFace" src="/css/img/bye.gif" height="15%" width="15%">
    </div>


    <!-- registration confirmed pop-up -->
    <div id="regConfirmed" style="display:none">
        <h4>
            You're are now Registered
      
        </h4>
    </div>


    <!-- registration invalid pop-up -->
    <div id="regRejected" style="display:none">
        <h4>
            Sorry Error with Registration
            <h5></h5>

        </h4><img src="/css/img/sad.gif" alt="" srcset="" height="25%" width="25%">
    </div>

    <!-- loggen on configm popup -->
    <div id="LoggedOn" style="display:none">
        <h4>
            You're are Logged in.
        </h4>
    </div>

        <!-- loggen on configm popup -->
        <div id="LoggedOut" style="display:none">
            <h4>
                You're are Logged Out.
            </h4>
        </div>


    <div id="profileMod" class="modal">
        <form class="modal-content animate" action="/login">
        <img id="profilePic" src="/css/img/happy.gif" height="15%" width="15%">
        <div id="firstName">
            <h5>First Name : </h5>
        </div>
        <div id="lastName">
            <h5>Last Name : </h5>
        </div>
        <div id="NickName">
            <h5>Nick Name : </h5>
        </div>
        <div id="Age">
            <h5>Age : </h5>
        </div>
        <div id="Gender">
            <h5>Gender : </h5>
        </div>
        <div id="Email">
            <h5>Email : </h5>
        </div>
    </div>

</body>

<!-- this script runs login modal -->
<script src="/js/register.js"></script>
<script src="/js/login.js"></script>
<script src="/js/buttons.js"></script>

</html>