<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RT-Forum</title>
    <link rel="shortcut icon" href="/css/img/chat.png" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/3c167d6bd6.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="Header">🅡🅔🅐🅛-🅣🅘🅜🅔-🅕🅞🅡🅤🅜</div>

    <!-- 
===========================================================================================================
                               LEFT MAIN NAV LINK                                                    
===========================================================================================================
-->
    <nav class="nav">
      <div id="current-user"></div>
      <a id="homePage" href="/" class="nav__link" data-link>HomePage</a>
      <a id="register" onclick="openReg() ;" class="nav__link" data-link
        >Register</a
      >
      <a id="login" onclick="openLogin() ;" class="nav__link" data-link
        >Login</a
      >
      <a id="post" href="/posts" class="nav__link" data-link>Posts</a>
      <a id="profile" href="/profile" class="nav__link" data-link>Profile</a>
      <a
        id="logout"
        onclick="Logout() ;"
        href="/"
        class="nav__link"
        style="display: none"
        data-link
        >LogOut</a
      >
    </nav>

    <!-- 
===========================================================================================================
                               RIGHT CHAT NAV LINK                                                     
===========================================================================================================
-->
    <!-- <nav class="chat">
      <a id="Chat Here" href="/chat" class="chat__link" data-link> Chat Here</a>
      <div id="log"></div>

      <form class="modal-content animate" action="/chat" id="formChat">
        <div id="recipient"></div>
        <input type="text" id="msg" size="64" autofocus />
        <input type="submit" id="btn" value="Send" />
      </form>
    </nav> -->

    <!-- Users list -->
    <nav class="loggedInUsers">
        <a id="Select User" class="loggedInUsers__link" data-link
          ><strong>Chat Members</strong></a
        >
        <div id="usersLog">
          <!--<div style="color: rgb(128, 237, 153);"><a id="Select User" href = "/loggedInUsers" class="loggedInUsers__link" data-link>Arabella</a></div>
              <div style="color: rgb(128, 237, 153);"><a id="Select User" href = "/loggedInUsers" class="loggedInUsers__link" data-link>Duke Oton</a></div>-->
        </div>
      </nav>


    <!--chat modal ui-->
    <div class="chat-private" id="chat-private">
      <div class="chat-modal" class="modal">
        <!-- <div class="modal-content animate" action="/chat" id="formChat"> -->
          <div class="chat-title-box">
            <h3>Messenger</h3>
            <button type="close-msg" class="message-close" id="btn" value="closeBtn" onclick="ChatReturn()">
                Back
            </button>
         </div>
          <div >
            <h2 class="chat-title" id="recipient"></h2>
          </div>
          <div class="messages">
            <div class="messages-content"></div>
          </div>
          <div class="message-box" id ="message-box">
            <input
              type="text"
              id="msg"
              class="message-input"
              placeholder="Type message..."
            ></input>
            <button class="message-submit" id="msg-send-btn">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

    

<!-- 
===========================================================================================================
                                    CREATE POST BLOCK                                                       
===========================================================================================================
-->
    <div id="postBlock" class="posts">
      <label for="PostTitle">Post Title:</label>
      <textarea
        name="postTitle"
        type="text"
        rows="1"
        cols="60"
        id="PostTitle"
        name="Title"
        placeholder="Enter Title..."
      ></textarea>
      <label for="Post Content"> Content: </label>
      <textarea
        name="postinput"
        type="text"
        rows="4"
        cols="60"
        id="PostContent"
        name="Content"
        placeholder="Description..."
      ></textarea>
      <label for="Post Cat">Catergory:</label>
      <input
        type="dropdown"
        id="PostCat"
        name="Category"
        placeholder="Choose Categories.."
      />
      <button class="button postBtn" id="addPost" type="submit">
        Create Post
      </button>
    </div>
    <!-- 
===========================================================================================================
                                       POST FEED DISPLAY MODAL                                                         
===========================================================================================================
 -->

    <!-- 
===========================================================================================================
                                       LOGIN MODAL                                                         
===========================================================================================================
 -->
    <div id="loginModal" class="modal">
      <div class="modal-content animate">
        <form id="loginform" class="form" action="/" >
          <div class="imgcontainer">
            <img
              src="/css/img/user-group-man-woman.png"
              height="250px"
              width="300px"
              alt="Avatar"
              class="avatar"
            />
          </div>

          <div class="container">
            <h1>🅛🅞🅖🅘🅝</h1>
            <div class="login-form-control">
              <label for="userName"><b>UserName</b></label>
              <input
                type="text"
                id="LUserName"
                placeholder="Enter Username"
                name="UserName"
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="login-form-control">
              <label for="psw"><b>Password</b></label>
              <input
                type="password"
                id="LPassW"
                placeholder="Enter Password"
                name="psw"
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <button class="button" id="loginBtn" type="submit">Login</button>

            <label>
              <input type="checkbox" checked="checked" name="remember" />
              Remember Me
            </label>

            <button
              id="cancelbtn"
              type="button"
              onclick="document.getElementById('loginModal').style.display='none'; closeBtn()"
              class="button"
            >
              Cancel
            </button>
            <span class="psw">New User Please👇 </span>

            <button
              type="button"
              onclick="openReg(); "
              class="button"
              href="/registration"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- 
===========================================================================================================
                                              END OF LOGIN MODAL                                                    
===========================================================================================================
-->

    <!-- 
===========================================================================================================
                                             REGISTER MODAL                                                    
===========================================================================================================
-->

    <div id="regModal" class="modal">
      <div class="modal-content animate">
        <form id="regform" class="form" action="register.js" method="post">
          <div class="imgcontainer">
            <img
              src="/css/img/user-group-man-woman.png"
              height="230px"
              width="290px"
              alt="Avatar"
              class="avatar"
            />
          </div>

          <div class="container" id="form">
            <h2>🅡🅔🅖🅘🅢🅣🅔🅡</h2>

            <div class="reg-form-control">
              <label for="FirstName"><b>First Name</b></label>
              <input
                id="FirstName"
                type="text"
                placeholder="Enter First Name"
                name="FirstName"
                value=""
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="LastName"><b>Last Name</b></label>
              <input
                id="LastName"
                type="text"
                placeholder="Enter Last Name"
                name="LastName"
                value=""
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="NickName"><b>NickName</b></label>
              <input
                id="NickName"
                type="text"
                placeholder="This will be your userName"
                name="NickName"
                value=""
                required
                minlength="4"
                maxlength="10"
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="Age"><b>Age</b></label>
              <input
                id="Age"
                type="number"
                placeholder="Enter Age"
                name="Age"
                value=""
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="Gender"><b>Gender</b></label>
              <input
                id="Gender"
                type="text"
                placeholder="Enter Gender"
                name="Gender"
                value=""
                required
              />
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="Email"><b>Email</b></label>
              <input
                id="Email"
                type="email"
                size="30"
                placeholder="Enter Email Address"
                name="Email"
                value=""
                required
              />
              <span id="text"></span>
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <div class="reg-form-control">
              <label for="psw"><b>Password</b></label>
              <input
                id="PassWord"
                type="password"
                placeholder="Enter Password"
                name="PassWord"
                value=""
                required
              />
              <i
                class="far fa-eye"
                id="togglePassword"
                style="
                  cursor: pointer;
                  visibility: visible;
                  color: gray;
                  top: 40px;
                  right: 40px;
                "
              ></i>
              <i class="fa-regular fa-circle-check"></i>
              <i class="fa-regular fa-exclamation"></i>
              <small>Error Message</small>
            </div>

            <span>
              <button
                class="button1 submit-disabled-state"
                id="registerBtn"
                type="submit"
              >
                Register
              </button>

              <button
                id="cancelbtn"
                type="button"
                onclick="document.getElementById('regModal').style.display='none'; closeBtn()"
                class="button1"
              >
                Cancel
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <!-- 
===========================================================================================================
                                           END OF REGISTER MODAL                                                    
===========================================================================================================
-->

    <!-- 
===========================================================================================================
                                           NOTIFYING ERRORS ETC                                                    
===========================================================================================================
-->

    <div id="regConfirmed" style="display: none">
      <h4>You're are now Registered</h4>
    </div>

    <div id="regRejected" style="display: none">
      <h4>Sorry Error with registration</h4>
    </div>

    <div id="LoggedOn" style="display: none">
      <h4>You're are Logged in.</h4>
    </div>
    <div id="postList"></div>
    <!-- 
===========================================================================================================
                                           SCRIPT FOR register/login/chat modal                                                    
===========================================================================================================
-->

    <!--<script src='/js/Login.js'></script>-->
    <!--Adding JS for the chat here as js/chat.js not working-->
    <script type="text/javascript">

    </script>
  </body>

  <script src="/js/post.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/buttons.js"></script>
  <!--<script src="/js/chat.js"></script>-->
</html>
