<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> RT-Forum </title>
    <link rel="shortcut icon" href="/css/img/chat.png">
    <link rel ="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="Header">🅡🅔🅐🅛-🅣🅘🅜🅔-🅕🅞🅡🅤🅜</div>

    <nav class="nav">
        <a id ="homePage" href = "/" class="nav__link" data-link>HomePage</a>
        <a id ="Login" href = "/Login" class="nav__link" data-link>Login</a>
        <a id ="post" href = "/Posts" class="nav__link" data-link>Posts</a>
        <a id="profile" href = "/Profile" class="nav__link" data-link>Profile</a>    
    </nav>

    <nav class="chat">
        <a id ="Chat Here" href = "/chat" class="chat__link" data-link>Chat Here</a>
        <!--<div id="Header">ⒸⒽⒶⓉ</div>-->
        <div id="log"></div>
        <form id="form">
            <input type="submit" id="btn" value="Send" />
            <input type="text" id="msg" size="64" autofocus />
        </form>
    </nav>

    <div class ="posts">
        <label for="PostTitle">Post Title:</label>
        <textarea name="postTitle" type="text" rows="1" cols="60" id="PostTitle" name="Title" placeholder="Enter Title..."></textarea>
        <label for="Post Content"> Content:  </label>
        <textarea name="postinput" type="text" rows="4" cols="60" id="PostContent" name="Content" placeholder="Description..."></textarea>
        <label for="Post Cat">Catergory:</label>
        <input type="dropdown" id="PostCat" name="Category" placeholder="Choose Categories..">
        <button type="submit">Create Post</button>
    
    </div>


    <div id="Login" class="modal"> 
       
       <form class="modal-content animate" action="/Login">
       <div class="imgcontainer">
        <img src="/css/img/user-group-man-woman.png" height="300px" width="300px" alt="Avatar" class="avatar">
       </div> 
      

       <div class="container">
        <h1>🅛🅞🅖🅘🅝</h1>

        <label for="userName"><b>UserName</b></label>
        <input type="text" placeholder="Enter Username" name="UserName" required>
        
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember Me
        </label>

        <button type="button" onclick="document.getElementById('Login').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">New User Please👇 </span>

        <button type="button" onclick="document.getElementById('Registration').style.display='none'" class="registration">Register</button>

       </div>
       </form>

    </div>

    <div id="registration" class="modal">     
       
       <form class="modal-content animate" action="/register">
       <div class="imgcontainer">
        <img src="/css/img/user-group-man-woman.png" height="300px" width="300px" alt="Avatar" class="avatar">
       </div> 
       

       <div class="container"> 
        <h2>🅡🅔🅖🅘🅢🅣🅔🅡</h2>
        <label for="FirstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="FirstName" required>

        <label for="LastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="Last Name" required>

        <label for="NickName"><b>NickName</b></label>
        <input type="text" placeholder="Enter Nick Name" name="Nick Name" required>

        <label for="Age"><b>Age</b></label>
        <input type="number" placeholder="Enter Age" name="Age" required>

        <label for="Gender"><b>Gender</b></label>
        <input type="text" placeholder="Enter Gender" name="Gender" required>
    
        <label for="Email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email Address" name="Email" required>

        <label for="userName"><b>UserName</b></label>
        <input type="text" placeholder="Enter Username" name="UserName" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Register</button>

        <button type="button" onclick="document.getElementById('registration').style.display='none'" class="cancelbtn">Cancel</button>

        

       </div>
    </form>
    </div>
    <!--<script src='/js/Login.js'></script>-->
    <script type="text/javascript">
        window.onload = function () {
            var conn;
            var msg = document.getElementById("msg");
            var log = document.getElementById("log");
        
            function appendLog(item) {
                var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                log.appendChild(item);
                if (doScroll) {
                    log.scrollTop = log.scrollHeight - log.clientHeight;
                }
            }
        
            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                conn.send(msg.value);
                msg.value = "";
                return false;
            };
        
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/ws");
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.style.color="#b5e48c";
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        var item = document.createElement("div");
                        item.style.color="#b5e48c";
                        item.innerText = messages[i];
                        appendLog(item);
                    }
                };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
        </script>
</body>
</html>